.expert-area {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px 20px;
  color: black;
}
@media only screen and (max-width: 992px) {
  .expert-area {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
}

@media only screen and (max-width: 668px) {
  .expert-area {
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
  }
}
